@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.flex-container{
    //100vh
    //min-height: 84vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'milkyWay';
    src: url('../assets/MilkyWalky-Regular.ttf');
}

@font-face {
    font-family: 'ranade';
    src: url('../assets/Ranade-Light.otf');
}

@font-face {
    font-family: 'ranade-thin';
    src: url('../assets/Ranade-Thin.otf');
}

.flex-container h1 {
    font-size: 7rem;
    font-family: 'milkyWay';
}

.flex-container h3 {
    font-family: 'ranade';
}

.flex-container h1::selection{
    color: white;
}

.flex-container h3::selection {
    color: white;
}

.btn a {
    display: none;
}

.btn {
    display: block;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #e7ded7;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    align-items: center;
}

.btn img {
    margin-top: 6px;
}

.flex-container-bottom{
     //100vh
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin: 30px;
}

.header-container {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.header-container li {
    font-size: 1.4rem;
    font-family: 'ranade-thin';
    margin: 20px;
    cursor: pointer;
}

.location-item {
    margin-top: 40px;
}