<a name="home"></a>
<div class="container">
  <div class="header">
    <ul class="header-container">
      <li onclick="document.location='#home'">Home</li>
      <li onclick="document.location='#location'">Location</li>
      <li>About</li>
      <li>Contact</li>
    </ul>
  </div>
  <div class="content">
    <div class="flex-container">
      <div class="flex-item">
        <h1>Das {{type}}café</h1>
      </div>
      <div class="flex-item">
        <!-- <h3>Im Herzen des III. Bezirks</h3> -->
        <h3>1030 Wien</h3>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="flex-container-bottom">
      <div class="flex-item">
        <div class="btn-img">
          <button onclick="document.location='#location'" class="btn"><img width="26px" height="26px" src="../assets/down-arrow.png"></button>
        </div>
      </div>
    </div>
  </div>
</div>
<a name="location"></a>
<div class="location-container">
  <div class="location-item">
    <h1>Oberzellergasse 2A, 1030 Wien</h1>
  </div>

  <div class="location-item">
    <p>Wir befinden uns im Herzen des 3. Wiener Gemeindebezirks.</p>
  </div>
</div>